<nav class="sidebar-nav d-flex flex-column  border-end vh-100 p-3" style="width: 220px;">
  <a class="nav-link d-flex align-items-center mb-3 fw-bold" routerLink="/dashboard" routerLinkActive="active">
    <i class="bi bi-speedometer2 me-2"></i> Dashboard
  </a>
  <a class="nav-link d-flex align-items-center mb-2" routerLink="/performance" routerLinkActive="active">
    <i class="bi bi-bar-chart-line me-2"></i> Performance
  </a>
  <a class="nav-link d-flex align-items-center mb-2" routerLink="/analytics" routerLinkActive="active">
    <i class="bi bi-graph-up-arrow me-2"></i> Analytics & Trends
  </a>
  <a class="nav-link d-flex align-items-center mb-2" routerLink="/geo-mapping" routerLinkActive="active">
    <i class="bi bi-geo-alt me-2"></i> Geo Mapping
  </a>
  <a class="nav-link d-flex align-items-center mb-2" routerLink="/reports" routerLinkActive="active">
    <i class="bi bi-file-earmark-bar-graph me-2"></i> Reports & Exp
  </a>
  <a class="nav-link d-flex align-items-center mt-2" routerLink="/system" routerLinkActive="active">
    <i class="bi bi-gear me-2"></i> System Management
  </a>
</nav> 