<div class="approved-certificate-container">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  <div class="page-header">
    <h2>{{'Training Title'|translate}} : {{ trainingTitle }}</h2>
  </div>

  <!-- <div class="filter-container">
    <div class="filter-controls">
      Date Filter 
      <input
        type="date"
        class="form-control"
        [(ngModel)]="filters.date"
        placeholder="Date"
      />

      <input
        type="text"
        class="form-control"
        [(ngModel)]="filters.trainingTitle"
        placeholder="Search by Training Title"
      />
    </div>
    <select class="form-control status-dropdown" [(ngModel)]="filters.status">
      <option value="ALL">All</option>
      <option value="APPROVED">Approved</option>
      <option value="REJECTED_BY_ADMIN">Rejected</option>
      <option value="IN PROGRESS">Pending</option>
    </select>

    <div class="action-buttons">
      <button class="btn btn-primary">
        <i class="bi bi-download"></i> Download Zip
      </button> 
    </div> 
  </div> -->

  <!-- <div class="trainings-summary">
    <h4>{{'Trainees List'|translate}}</h4>
    <span class="badge bg-secondary"
      >{{'Total trainees'|translate}} : {{ filteredTableData.length }}</span
    >
  </div> -->

  <app-table
    [columns]="tableColumns"
    [data]="filteredTableData"
    [actions]="tableActions"
    [isExportCSV]="isExportCSV"
    [isExportPDF]="isExportPdf"
    [pdfHeaders]="pdfHeaders"
    [columnKeys]="columnKeys"
    (actionClick)="handleTableAction($event)"
  >
  </app-table>

  <div
    class="mt-4 p-4 bg-white rounded-3 shadow-sm d-flex justify-content-between align-items-center"
  >
    <h2 class="mb-0 fw-semibold">{{'Add More Records'|translate}}</h2>
    <div>
      <button class="btn btn-success me-2" (click)="onManualUpload()">
        <i class="bi bi-pencil-square me-1"></i> {{"Manual Upload"|translate}}
      </button>
      <button class="btn btn-primary" (click)="onBulkUpload()">
        <i class="bi bi-upload me-1"></i> {{'Bulk Upload'|translate}}
      </button>
    </div>
  </div>

  <!-- View Modal -->
  <!-- Modal -->
  <div
    class="modal fade"
    id="viewCertificateModal"
    tabindex="-1"
    aria-labelledby="viewCertificateModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h2 class="modal-title" id="viewCertificateModalLabel">
            {{'Approved Certificate'|translate}}
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ng-container *ngIf="selectedItem">
            <app-new-certificate-layout
              [data]="selectedItem"
            ></app-new-certificate-layout>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  id="modalBtn"
  style="display: none"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{'Trainee Details'|translate}}</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-light rounded-3 p-4">
        <div class="d-flex align-items-center mb-4">
          <div class="profile-avatar me-3">
            <i
              class="bi bi-person-circle text-primary"
              style="font-size: 3rem"
            ></i>
          </div>
          <div>
            <h5 class="mb-0">{{ selectedItem?.name }}</h5>
            <small class="text-muted">{{ selectedItem?.course }}</small>
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <div class="p-3 bg-white rounded-3 shadow-sm h-100">
              <strong>{{'Email'|translate}}:</strong>
              <span class="text-muted ms-3">{{ selectedItem?.email }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="p-3 bg-white rounded-3 shadow-sm h-100">
              <strong>{{'Phone'|translate}}:</strong>
              <span class="text-muted ms-3">{{
                selectedItem?.contactNumber
              }}</span>
            </div>
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <div class="p-3 bg-white rounded-3 shadow-sm h-100">
              <strong>{{'Gender'|translate}}:</strong>
              <span class="text-muted ms-3">{{ selectedItem?.gender }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="p-3 bg-white rounded-3 shadow-sm h-100">
              <strong>{{'Age'|translate}}:</strong>
              <span style="margin-left: 10px" class="text-muted">{{
                selectedItem?.age
              }}</span>
            </div>
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-md-6">
            <div class="p-3 bg-white rounded-3 shadow-sm h-100">
              <strong>{{'UIN'|translate}}:</strong>
              <span class="text-muted ms-3">{{ selectedItem?.uin }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="p-3 bg-white rounded-3 shadow-sm h-100">
              <strong>{{"Father's Name"|translate}}:</strong>
              <span class="text-muted ms-3">{{
                selectedItem?.fatherName
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{'Close'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
