<div class="login-container">
  <!-- Background Section -->
  <!-- <div class="background-section login-background"></div>
  <div class="background-overlay"></div> -->

  <!-- Form Section -->
  <div class="form-section">


    <div class="form-container form-content">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <h2 class="form-title">{{'Reset Password'|translate}}</h2>

        <!-- Email -->
        <div class="form-group">
          <label for="email">{{'Email'|translate}}</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
        </div>

        <!-- Old Password -->
        <div class="form-group">
          <label>{{'Old Password'|translate}}</label>
          <div style="position: relative">
            <input
              [type]="showoldPassword ? 'text' : 'password'"
              formControlName="oldPassword"
              placeholder="Old Password"
              [class.error]="
                resetPasswordForm.get('oldPassword')?.invalid &&
                resetPasswordForm.get('oldPassword')?.touched
              "
            />
            <button
              type="button"
              class="password-toggle"
              (click)="toggleOldPassword()"
            >
              <div class="eye-icon">
                <svg
                  *ngIf="!showoldPassword"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  ></path>
                </svg>
                <svg
                  *ngIf="showoldPassword"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
                  ></path>
                </svg>
              </div>
            </button>
          </div>
          <div
            class="error-message"
            *ngIf="
              resetPasswordForm.get('oldPassword')?.invalid &&
              resetPasswordForm.get('oldPassword')?.touched
            "
          >
            <span
              *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['required']"
              >{{'Password is required'|translate}}</span
            >
            <span
              *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['minlength']"
              >{{'Password must be at least 6 characters'|translate}}</span
            >
          </div>
        </div>

        <!-- New Password -->
        <div class="form-group">
          <label>{{"New Password"|translate}}</label>
          <div style="position: relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newPassword"
              placeholder="New Password"
              [class.error]="
                resetPasswordForm.get('newPassword')?.invalid &&
                resetPasswordForm.get('newPassword')?.touched
              "
            />
            <button
              type="button"
              class="password-toggle"
              (click)="togglePassword()"
            >
              <div class="eye-icon">
                <svg
                  *ngIf="!showPassword"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  ></path>
                </svg>
                <svg
                  *ngIf="showPassword"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
                  ></path>
                </svg>
              </div>
            </button>
          </div>
          <div
            class="error-message"
            *ngIf="
              resetPasswordForm.get('newPassword')?.invalid &&
              resetPasswordForm.get('newPassword')?.touched
            "
          >
            <span
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"
              >{{'Password is required'|translate}}</span
            >
            <span
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']"
              >{{'Password must be at least 6 characters'|translate}}</span
            >
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="sign-up-btn mt-4" [disabled]="isLoading">
          <span *ngIf="!isLoading">{{'Reset Password'}}|translate</span>
          <span *ngIf="isLoading">
            <i class="fa fa-spinner fa-spin"></i> {{'Please wait...'|translate}}
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
