<div class="home-container"style="
padding-left: 258px;
">
  <div class="container-fluid text-center">

      <div class="row">
        <div class="col-lg-3">
          <h3 class="mb-0">{{'Apply Filters'}}</h3>
          <!--<h3 class="mb-0">{{'Startup Demo Request Dashboard Table' | translate}}</h3>-->
        </div>
        <div class="col-lg-3">

          <!-- <div class="row">
      <div class="col-lg-4">-->

          <div class="form-group">
            <!--<select class="custom-control custom-select" [(ngModel)]="selection"  ng-model="fin_year"  #dropdown
      (change)="getDashboardDetails($event.target.value)">-->
            <select class="custom-control custom-select" [(ngModel)]="stateSelection" ng-model="fin_year" #dropdown
              (change)="getLineChartByState($event.target)">
              <!--(change)="getDashboardDetails($event.target.value)"-->
              <option value='' selected>{{'Filter By state'}}</option>
              <option value="{{state}}" *ngFor="let state of stateFilter">{{state}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">

          <div class="form-group">
            <!--<select class="custom-control custom-select" [(ngModel)]="selection"  ng-model="fin_year"  #dropdown
      (change)="getDashboardDetails($event.target.value)">-->
            <select class="custom-control custom-select" [(ngModel)]="districtSelection" ng-model="fin_year" #dropdown
              (change)="getLineChartByDistrict($event.target)">
              <!--(change)="getDashboardDetails($event.target.value)"-->
              <option value='' selected>{{'Filter By Disrict'}}</option>
              <option value="{{dist}}" *ngFor="let dist of districtFilter">{{dist}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">

          <div class="form-group">
            <!--<select class="custom-control custom-select" [(ngModel)]="selection"  ng-model="fin_year"  #dropdown
      (change)="getDashboardDetails($event.target.value)">-->
            <select class="custom-control custom-select" [(ngModel)]="milkTypeSelection" ng-model="fin_year" #dropdown
              (change)="getLineChartByMilkType($event.target)">
              <!--(change)="getDashboardDetails($event.target.value)"-->
              <option value='' selected>{{'Filter By Milk Type'}}</option>
              <option value="{{mt}}" *ngFor="let mt of milkTypeFilter">{{mt}}</option>
            </select>
          </div>
        </div>
        <!--</div>

  </div>-->
      </div>

      <div class="charts-root">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>
      <!--<div class="charts-root">
<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptionsPie"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
</div>-->
    <div class="row">
      <div class="charts-root">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsStackedBar"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>
    </div>
      <div class="charts-root">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsDualAxes"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </div>
      <div class="charts-root">
        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsDonutChart"
          style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        <!--<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptionsTimeline2"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>-->
      </div>
      </div>
      </div>



