
.charts-root{
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  padding-top: 4px;
}


.highcharts-series-0 .highcharts-point {
  fill: #7cb5ec;
  stroke: #7cb5ec;
}

.highcharts-series-1 .highcharts-point {
  fill: #434348;
  stroke: #434348;
}

.highcharts-series-2 .highcharts-point {
  fill: #90ed7d;
  stroke: #90ed7d;
}


.row {
  display: flex;
}

.container-fluid {
  /*height: 100vh;*/
}

.home-container {
  padding-top: 5vh;
  padding-left: 2vh;
  background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(227 231 234) 100.2%);
}
