<div class="upload-section">
  <!--Prepopulated files from backend -->
  <div class="file-info" *ngIf="filePath">
    <div class="file-details">
      <p>
        <strong>Uploaded file:</strong>
        <span class="file-name ms-2">{{ getFileName(filePath) }}</span>
      </p>
    </div>
    <button type="button" class="btn-remove ms-4" (click)="removeFile()">
      <i class="bi bi-trash"></i> Remove
    </button>
  </div>

  <!-- 2️⃣ Upload area (only show when no selected file and no prepopulated file) -->
  <div
    class="upload-box"
    [class.drag-over]="isDragOver"
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    *ngIf="filePath === ''"
  >
    <div class="upload-icon">
      <i class="bi bi-cloud-upload"></i>
    </div>
    <p class="upload-text">{{ uploadText }}</p>
    <p class="upload-subtext">{{ subText }}</p>

    <button type="button" class="btn-upload" (click)="fileInput.click()">
      {{ buttonText }}
    </button>

    <input
      #fileInput
      type="file"
      hidden
      (change)="onFileChange($event)"
      [accept]="acceptedFileTypes"
    />
  </div>

  <!-- 3️⃣ User-selected file -->
  <div class="file-info" *ngIf="selectedFile && showFileInfo">
    <div class="file-details">
      <p><strong>Accepted formats:</strong> {{ acceptedFileTypes }}</p>
      <p><strong>Max size per file:</strong> {{ maxFileSizeMB }}MB</p>
      <p>
        <strong>Selected file:</strong>
        <span class="file-name ms-2">{{ selectedFile.name }}</span>
      </p>
      <p><strong>File size:</strong> {{ getFileSize(selectedFile.size) }}</p>
    </div>
    <button type="button" class="btn-remove ms-4" (click)="removeFile()">
      <i class="bi bi-trash"></i> Remove
    </button>
  </div>
</div>

<!-- Error -->
<div class="error-message" *ngIf="errorMessage && filePath.length === 0">
  <i class="bi bi-exclamation-triangle"></i>
  <span>{{ errorMessage }}</span>
</div>
