<div class="nddb-certificate" role="document">
  <div class="sheet" #certificateContent aria-label="NDDB Certificate">
    <!-- Corners -->
    <div class="corner top-left"></div>
    <div class="corner top-right"></div>
    <div class="corner bottom-left"></div>
    <div class="corner bottom-right"></div>
    
    <!-- Top meta -->
    <div class="certificate-header" aria-label="Header">
      <div>
        <div class="certificate-ref">UIN No- {{ finalUniqueId }}</div>
        <div class="certificate-ref" *ngIf="data?.trainingRefCode">Ref: {{ data?.trainingRefCode }}</div>
      </div>
      <div class="certificate-date">Date: {{ data?.certificateDate | date: 'dd.MM.yyyy' }}</div>
    </div>

    <!-- Logo Row -->
    <div class="brand-row" aria-label="Branding">
      <img class="logo-small" [src]="logo1Url || data?.logoPath1" alt="" crossorigin="anonymous" />
      <img class="logo-center" *ngIf="logo2Url || data?.logoPath2" [src]="logo2Url || data?.logoPath2" alt=""
        crossorigin="anonymous" />
      <img class="logo-small logo-small-right" *ngIf="data?.logoPath3 || logo3Url" [src]="logo3Url || data?.logoPath3"
        alt="" crossorigin="anonymous" />
    </div>

    <!-- QR Code (Center) + Trainee Photo (Right) Row -->
    <div class="qr-photo-row" aria-label="QR Code and Trainee Photo">
      <div class="qr-code">
        <qrcode [qrdata]="qrData" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
        <!-- <p class="uid">UIN: {{ finalUniqueId }}</p> -->
      </div>
      <div class="trainee-photo" *ngIf="traineePhotoUrl || validPhotoUrl">
        <!-- -        <img [src]="validPhotoUrl" crossorigin="anonymous" /> -->
        <img [src]="traineePhotoUrl" crossorigin="anonymous" />
      </div>
    </div>

    <!-- Certificate Heading -->
    <h1 class="certificate-heading">प्रमाणपत्र/Certificate</h1>

    <!-- Body -->
    <section class="certificate-body" aria-label="Certificate Body">
      <p>
        This is to certify that <span class="label">Mr/Mrs/Ms</span>
        <span class="name"> &nbsp;{{ data?.name }}</span>
        Participated in a training program
        <span class="emphasis">{{ data?.trainingTitle }}</span>.
      </p>

      <p>
        Total duration of training was for
        <span class="emphasis">
          {{ totalDurationDays !== null ? totalDurationDays : data?.duration }}
        </span>
        <span>
          &nbsp;{{ totalDurationDays !== null ? 'Days' : data?.durationType }}
        </span>
        <ng-container>
          from <span class="date">{{ data?.startDate | date: 'dd-MM-yyyy' }}</span>
          to <span class="date">{{ data?.endDate | date: 'dd-MM-yyyy' }}</span>
        </ng-container>
        conducted at
        <span class="emphasis">{{ data?.trainingInstituteName || data?.organizationName || (data?.location ??
          data?.venueState) }}</span> accredited by Government of India.
      </p>
    </section>

    <!-- Footer Signatures -->
    <footer class="certificate-footer" aria-label="Signatures">
      <div class="signatures">
        <!-- Left Signature -->
        <div class="signature" aria-label="Institute Head Signature">
          <ng-container *ngIf="data?.signatures?.length > 0; else emptyLeft">
            <p>
              <img [src]="signatureUrls[0] || data.signatures[0].signatorySignaturePath" alt=""
                crossorigin="anonymous" />
            </p>
            <p>_____________________</p>
            <p>{{ data.signatures[0].signatoryName }}</p>
            <p>{{ data.signatures[0].signatoryDesignation }}</p>
            <p>{{ data.signatures[0].signatoryOrganization }}</p>
            <p class="signature-title">Institute Head Signature</p>
          </ng-container>
          <ng-template #emptyLeft>
            <div class="signature-placeholder" aria-hidden="true"></div>
            <p class="signature-title">Institute Head Signature</p>
          </ng-template>
        </div>

        <!-- Right Signature -->
        <div class="signature" aria-label="State Head Signature">
          <ng-container *ngIf="data?.signatures?.length > 1; else emptyRight">
            <p>
              <img [src]="signatureUrls[1] || data.signatures[1].signatorySignaturePath" alt=""
                crossorigin="anonymous" />
            </p>
            <p>_____________________</p>
            <p>{{ data.signatures[1].signatoryName }}</p>
            <p>{{ data.signatures[1].signatoryDesignation }}</p>
            <p>{{ data.signatures[1].signatoryOrganization }}</p>
            <p class="signature-title">State Head Signature</p>
          </ng-container>
          <ng-template #emptyRight>
            <div class="signature-placeholder" aria-hidden="true"></div>
            <p class="signature-title">State Head Signature</p>
          </ng-template>
        </div>
      </div>
    </footer>
  </div>

  <!-- Actions -->
  <div class="modal-actions mt-3 mb-4 text-end">
    <button class="btn btn-primary" (click)="download()" aria-label="Download certificate">Download</button>
  </div>
</div>
