<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="page-header" id="pendingTable">
  <h2>{{ "Pending Trainings" | translate }}</h2>
</div>
<div class="trainings-summary">
  <!-- <h4>All Trainings</h4> -->
  <span class="badge bg-secondary"
    >{{ "Total" | translate }} - {{ trainingsList.length }}
    {{ "Trainings" | translate }}</span
  >
</div>

<app-table
  [columns]="tableColumnsPending"
  [data]="trainingsList3"
  [actions]="tableActionsPending"
  (actionClick)="handleTableAction($event)"
  [isExportCSV]="isExportCSV"
  [isExportPDF]="isExportPdf"
  [pdfHeaders]="pdfHeaders"
  [columnKeys]="columnKeys"
  [fileName]="fileName"
>
</app-table>

<div class="approved-certificate-container" id="approvedTable">
  <div class="page-header">
    <h2>{{ "Approved Trainings" | translate }}</h2>
  </div>
  <div class="trainings-summary">
    <!-- <h4>All Trainings</h4> -->
    <span class="badge bg-secondary"
      >{{ "Total" | translate }} - {{ trainingsList.length }}
      {{ "Trainings" | translate }}</span
    >
  </div>

  <app-table
    [columns]="tableColumnsApproved"
    [data]="trainingsList"
    [actions]="tableActions"
    (actionClick)="handleTableAction($event)"
    [isExportCSV]="isExportCSV"
    [isExportPDF]="isExportPdf"
    [pdfHeaders]="pdfHeaders"
    [columnKeys]="columnKeys"
    [fileName]="fileName"
  >
  </app-table>
</div>

<!--Rejected Trainings start-->
<div class="approved-certificate-container" id="rejectedTable">
  <div class="page-header">
    <h2>{{ "Rejected Trainings" | translate }}</h2>
  </div>
  <div class="trainings-summary">
    <!-- <h4>All Trainings</h4> -->
    <span class="badge bg-secondary"
      >{{ "Total" | translate }} - {{ trainingsList.length }}
      {{ "Trainings" | translate }}</span
    >
  </div>

  <app-table
    [columns]="tableColumnsRejected"
    [data]="trainingsList2"
    [actions]="tableActions2"
    (actionClick)="handleTableAction($event)"
    [isExportCSV]="isExportCSV"
    [isExportPDF]="isExportPdf"
    [pdfHeaders]="pdfHeaders"
    [columnKeys]="columnKeys"
    [fileName]="fileName"
  >
  </app-table>
</div>

<!--Rejected trainings end-->

<ng-template #trainingDetailsModal let-modal>
  <!-- <div class="modal fade" #trainingDetailsModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">

    <div class="modal-content"> -->
  <div
    class="modal-header bg-appColor"
    style="background-color: #155e91; color: white !important"
  >
    <h3 class="my-auto text-white">{{ "Training Details" }}</h3>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalDismiss()"
    >
      <!-- <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal"> -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex mr-4 form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Training Title" }}:
          </h4>
          <!-- <p class="my-auto mb-0"> {{complaintDetail.compcreator}}</p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.trainingTitle }}
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex mr-4 statusColor form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Scheme" }} :
          </h4>
          <!-- <p class="my-auto mb-0" [class]="complaintDetail?.finalStatus">
                {{complaintDetail.finalStatus}}
              </p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.scheme }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Training Institute Name" }} :
          </h4>
          <!-- <p class="my-auto mb-0"> {{complaintDetail.creatormob}}</p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.trainingInstituteName }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 statusColor form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Trainer Name" }} :
          </h4>
          <!-- <p class="my-auto mb-0" [class]="complaintDetail?.finalStatus">
                {{complaintDetail.finalStatus}}
              </p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.trainerName }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Training Date" }} :
          </h4>
          <!-- <p class="my-auto mb-0"> {{complaintDetail.title}}</p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.trainingDate }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Training Duration" }} :
          </h4>
          <!-- <p class="my-auto mb-0"> {{complaintDetail.title}}</p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.duration }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Mode of Training" }} :
          </h4>
          <!-- <p class="my-auto mb-0"> {{complaintDetail.title}}</p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.modeOfTraining }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Training Description" }} :
          </h4>
          <!-- <p class="my-auto mb-0"> {{complaintDetail.title}}</p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.trainingDescription }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 statusColor form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Location" }} :
          </h4>
          <!-- <p class="my-auto mb-0" [class]="complaintDetail?.finalStatus">
                {{complaintDetail.finalStatus}}
              </p> -->
          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.location }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex mr-4 statusColor form-group half-width">
          <h4 class="my-auto mr-2 form-control-label detailsWidth">
            {{ "Status" }} :
          </h4>

          <p class="my-auto mb-0 form-control">
            {{ this.trainingDetails.status }}
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex mr-4"></div>
      </div>
    </div>

    <div
      class="card-header col-12 mb-4 mt-4 bg-appColor"
      *ngIf="
        trainingDetails.status !== 'NEW' &&
        trainingDetails.status !== 'Approved by State Head' &&
        trainingDetails.status !== 'Recommended by Institute Head'
      "
    >
      <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.5)" size="default"  type="ball-beat" [fullScreen]="false" [name]="'dataSpinner3'"></ngx-spinner> -->
      <h3 class="mb-0 text-white">
        {{ "Trainee List" }}
      </h3>
    </div>
    <div
      class="card-body"
      *ngIf="
        trainingDetails.status !== 'NEW' &&
        trainingDetails.status !== 'Approved by State Head' &&
        trainingDetails.status !== 'Recommended by Institute Head'
      "
    >
      <app-table
        [columns]="tableColumnsTrainee"
        [data]="traineeList"
        [actions]="tableActionsTrainee"
        (actionClick)="handleTableAction($event)"
        [isExportCSV]="isExportCSV"
        [isExportPDF]="isExportPdf"
        [pdfHeaders]="pdfHeadersTrainee"
        [columnKeys]="columnKeysTrainee"
      >
      </app-table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" (click)="modal.dismiss('Close click')" style="background-color: #155e91;"> -->
    <button
      type="button"
      class="btn btn-primary"
      (click)="modalDismiss()"
      style="background-color: #155e91"
    >
      <!-- <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"> -->
      {{ "close" }}
    </button>
  </div>
</ng-template>

<!-- Certificate Modal -->
<ng-template #certificateModal let-modal>
  <div class="modal-header border-0">
    <h4 class="modal-title text-dark">Training Certificate</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body p-0">
    <app-new-certificate-layout
      *ngIf="certificateData"
      [data]="certificateData"
      [uniqueId]="selectedTraineeForCertificate?.uin || 'UIN2025345780991'"
    >
    </app-new-certificate-layout>
  </div>
</ng-template>
<!-- </div>
    </div>
    </div> -->
