<div class="certificate-wrapper" #certificateContent>
  <div class="certificate-border">
    <div class="certificate-logos">
      <img src="{{ data.logoPath1 }}" alt="Logo 1" crossorigin="anonymous" />
      <img *ngIf="data.logoPath2" src="{{ data.logoPath2 }}" alt="Logo 2" crossorigin="anonymous" />
      <img *ngIf="data.logoPath3" src="{{ data.logoPath3 }}" alt="Logo 3" crossorigin="anonymous" />
    </div>
    <div class="certificate-header">
      <h2>Certificate of Completion</h2>
      <p class="subtitle">This Certificate Is Proudly Presented To</p>
      <h1 class="trainee-name">{{ data?.name }}</h1>
    </div>

    <div class="certificate-body">
      <p>
        From <strong>{{ data?.trainingInstituteName }}</strong> has successfully
        completed the training program
        <strong>{{ data?.trainingTitle }}</strong> on
        <strong>{{ data?.trainingDate }}</strong
        >, conducted at <strong>{{ data?.location }}</strong
        >.
      </p>
    </div>

    <div class="certificate-footer">
      <div class="signatures">
        <div class="signature">
          <p><img src="{{ data.signatures[0].signatorySignaturePath }}" alt="Logo 1" crossorigin="anonymous" /></p>
          <p>_____________________</p>
          <p>{{ data.signatures[0].signatoryName }}</p>
          <p>{{ data.signatures[0].signatoryDesignation }}</p>
          <p>{{ data.signatures[0].signatoryOrganization }}</p>
        </div>

        <div class="qr-code">
          <qrcode
            [qrdata]="qrData"
            [width]="100"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
          <p class="uid">UIN: {{ finalUniqueId }}</p>
        </div>
        <div class="signature" *ngIf="data.signatures.length>1">
          <p><img src="{{ data.signatures[1]?.signatorySignaturePath }}"alt="Logo 1" crossorigin="anonymous" /></p>
          <p>_____________________</p>
          <p>{{ data.signatures[1]?.signatoryName }}</p>
          <p>{{ data.signatures[1]?.signatoryDesignation }}</p>
          <p>{{ data.signatures[1]?.signatoryOrganization }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-actions mt-3 text-end">
    <button class="btn btn-primary" (click)="download()">Download</button>
  </div>
</div>
