<div class="approved-certificate-container">
  <!-- <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb> -->

  <!-- <div class="page-header">
    <h2>All Registered Trainings</h2>
  </div>
  <div style="height: 34px">
    <span><h3>Filter By</h3></span> <br />
  </div> -->

  <!-- <div class="filter-container">
    <div class="filter-controls"> -->
  <!-- <input type="text" class="form-control" placeholder="dd mm yy - dd mm yy">
      <input type="text" class="form-control" placeholder="Search by Training Title">
      <select class="form-control">
        <option>State</option>
      </select> -->
  <!-- <ng-select
        class="custom-ng-select form-control"
        placeholder="Title"
        [(ngModel)]="filters.trainingTitle"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Title'}}</ng-option> -->
  <!-- <ng-option
          class="cutom-option"
          *ngFor="let name of uniqueValuesTrainingTitle()"
          [value]="name"
          >{{ name }}</ng-option
        > -->
  <!-- <ng-template ng-option-tmp let-item="item" let-index="index">
    <div class="custom-option">
      {{ item.name }}
    </div>
  </ng-template> -->
  <!-- </ng-select> -->
  <!--
      <ng-select
        class="custom-ng-select form-control"
        placeholder="Scheme"
        [(ngModel)]="filters.scheme"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Sceme'}}</ng-option> -->
  <!-- <ng-option *ngFor="let name of uniqueValuesScheme()" [value]="name">{{
          name
        }}</ng-option>
      </ng-select>
      <ng-select
        class="custom-ng-select form-control"
        placeholder="Institute Name"
        [(ngModel)]="filters.trainingInstituteName"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Date'}}</ng-option> -->
  <!-- <ng-option
          *ngFor="let name of uniqueValuesInstituteName()"
          [value]="name"
          >{{ name }}</ng-option
        >
      </ng-select>
      <ng-select
        class="custom-ng-select form-control"
        placeholder="Trainer Name"
        [(ngModel)]="filters.trainerName"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Date'}}</ng-option> -->
  <!-- <ng-option
          *ngFor="let name of uniqueValuesTrainerName()"
          [value]="name"
          >{{ name }}</ng-option
        >
      </ng-select>

      <ng-select
        class="custom-ng-select form-control"
        placeholder="Location"
        [(ngModel)]="filters.location"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Sceme'}}</ng-option> -->
  <!-- <ng-option *ngFor="let name of uniqueValueslocation()" [value]="name">{{
          name
        }}</ng-option>
      </ng-select>
      <ng-select
        class="custom-ng-select form-control"
        placeholder="Training Date"
        [(ngModel)]="filters.trainingDate"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Date'}}</ng-option> -->
  <!-- <ng-option
          *ngFor="let name of uniqueValuesTrainingDate()"
          [value]="name"
          >{{ name }}</ng-option
        >
      </ng-select>

      <ng-select
        class="custom-ng-select form-control"
        placeholder="Status"
        [(ngModel)]="filters.status"
        style="
          height: 100%;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #121213;
          background-color: #fff;
          background-clip: padding-box;
          box-shadow: none;
        "
        (change)="applyFilters()"
      > -->
  <!-- <ng-option value="" disabled="true">{{'Select Sceme'}}</ng-option> -->
  <!-- <ng-option
          class="form-control"
          *ngFor="let name of uniqueValuesStatus()"
          [value]="name"
          >{{ name }}</ng-option
        >
      </ng-select> -->

  <!-- <select class="form-control">
        <option>District</option>
      </select>
      <select class="form-control">
        <option>Block</option>
      </select> -->
  <!-- </div> -->
  <!-- <div class="action-buttons">
      <button class="btn btn-outline-primary"><i class="bi bi-upload"></i> Export as Excel</button>
      <button class="btn btn-primary"><i class="bi bi-download"></i> Download Zip</button>
    </div> -->
  <!-- </div> -->

  <div class="trainings-summary">
    <h4>{{ "All Trainings" | translate }}</h4>
    <span class="badge bg-secondary"
      >{{ "Total" | translate }} - {{ trainingsList.length }}
      {{ "Trainings" | translate }}</span
    >
    <span>
      <div class="ms-4">
        <button class="btn btn-primary" (click)="navigateToPending()">
          Pending Trainings
        </button>
        <button class="btn btn-success" (click)="navigateToApproved()">
          Approved Trainings
        </button>
        <button class="btn btn-warning" (click)="navigateToRejected()">
          Rejected Trainings
        </button>
      </div>
    </span>
  </div>

  <div class="status-filter-section mt-3 mb-5">
    <div class="status-filter-header">
      <div class="status-filter-title">
        <i class="bi bi-funnel status-filter-icon"></i>
        <span>{{ "Status" | translate }}</span>
      </div>
      <button
        *ngIf="filters.status"
        type="button"
        class="clear-filter-btn"
        (click)="clearStatusFilter()"
      >
        <i class="bi bi-x-circle me-1"></i>
        {{ "Clear Filter" | translate }}
      </button>
    </div>

    <div class="status-filter-body">
      <ng-select
        class="custom-ng-select status-ng-select"
        placeholder="Select Status"
        [(ngModel)]="filters.status"
        (change)="applyFilters()"
        [clearable]="true"
        [searchable]="true"
      >
        <ng-option
          *ngFor="let status of uniqueValuesStatus()"
          [value]="status"
        >
          {{ status }}
        </ng-option>
      </ng-select>
      
      <div class="active-status-tag" *ngIf="filters.status">
        <span class="badge bg-light text-dark">
          <i class="bi bi-check-circle me-1"></i>
          {{ "Status" | translate }}: {{ filters.status }}
        </span>
      </div>
    </div>
  </div>

  <app-table
    [columns]="tableColumns"
    [data]="filteredData"
    [actions]="tableActions"
    (actionClick)="handleTableAction($event)"
    [isExportCSV]="isExportCSV"
    [isExportPDF]="isExportPdf"
    [pdfHeaders]="pdfHeaders"
    [columnKeys]="columnKeys"
    [fileName]="fileName"
    [isLoading]="isLoading"
  >
  </app-table>
</div>

<div style="position: absolute; left: -9999px; top: -9999px;">
  <app-latest-certificate-layout
    #hiddenCertificate
    [data]="certificateDataForBulk"
    [uniqueId]="certificateUinForBulk"
  >
  </app-latest-certificate-layout>
</div>
<div style="position: absolute; left: -8999px; top: -8999px;">
  <app-id-card
    #hiddenIdCard
    [data]="idCardDataForBulk"
    [uniqueId]="idCardUinForBulk"
  >
  </app-id-card>
</div>
<ng-template #trainingDetailsModal let-modal>
  <div class="modal-header bg-appColor">
    <h3 class="my-auto text-white">{{ "Training Details" | translate }}</h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row g-3">
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label"
            >{{ "Training Title" | translate }}:</label
          >
          <div class="detail-value">{{ trainingDetails?.trainingTitle }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "Scheme" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.scheme }}</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label"
            >{{ "Training Institute Name" | translate }}:</label
          >
          <div class="detail-value">
            {{ trainingDetails?.trainingInstituteName }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "Trainer Name" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.trainerName }}</div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "Start Date" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.startDate }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "End Date" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.endDate }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label"
            >{{ "Training Duration" | translate }}:</label
          >
          <div class="detail-value">
            {{
              getTrainingDurationInDays(
                trainingDetails?.startDate,
                trainingDetails?.endDate
              )
            }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label"
            >{{ "Mode of Training" | translate }}:</label
          >
          <div class="detail-value">{{ trainingDetails?.modeOfTraining }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label"
            >{{ "Training Description" | translate }}:</label
          >
          <div class="detail-value">
            {{ trainingDetails?.trainingDescription }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label"
            >{{ "Training Schedule" | translate }}:</label
          >
          <div class="detail-value">
            <ng-container *ngIf="isLoadingSchedule">
              <span class="text-muted">Loading...</span>
            </ng-container>
            <ng-container *ngIf="!isLoadingSchedule">
              <a
                *ngIf="trainingScheduleUrl"
                [href]="trainingScheduleUrl"
                target="_blank"
                class="text-primary text-decoration-underline"
              >
                View Schedule
              </a>
              <span
                *ngIf="!trainingScheduleUrl && trainingDetails?.trainingScheduleDetail"
                class="text-danger"
              >
                Failed to Load
              </span>
              <span
                *ngIf="!trainingDetails?.trainingScheduleDetail"
                class="text-muted"
              >
                Not Uploaded
              </span>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "Location" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.location }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "Status" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.status }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-row">
          <label class="detail-label">{{ "Address" | translate }}:</label>
          <div class="detail-value">{{ trainingDetails?.venueAddress }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.dismiss('Close click')"
      style="background-color: #155e91"
    >
      {{ "Close" | translate }}
    </button>
  </div>
</ng-template>
