<div class="home-container"style="
padding-left: 258px;
">
  <div class="container-fluid text-center">
<div class="header pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<div class="container-fluid mt--7 mp-7">
  <!-- <div class="row">
    <div class="col-lg-9">
     <div class="form-check">
        <label class="form-check-label" for="radio1"  >
          <input type="radio" class="form-check-input" name="optradio" value="surplus" (click)="showGraphs('markatable_surplus')" checked>

          {{'Marketable Surplus' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" name="optradio" value="production" (click)="showGraphs('actual_production')" >

          {{'Actual Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" name="optradio" value="sales" (click)="showGraphs('sales_production')" >

          {{'Sale Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
    </div>
      <div class="col-lg-3">
        <div class="form-group">
          <select class="custom-control custom-select" ng-model="fin_year" (change)="getDashboardDetails($event.target.value)">
            <option value="{{year}}" *ngFor="let year of requestTypes">{{year}}</option>
          </select>
        </div>
      </div>
    </div> <br>-->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{pageTitle}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.0)" size="default" color="#5a5959" type="ball-beat"
          [fullScreen]="false" [name]="'dataSpinner1'"></ngx-spinner>-->
          <div class="d-flex justify-content-between  mb-3">
            <div class="input-group mb-3 search">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <svg width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 21L19 19M10.5 20C11.7476 20 12.9829 19.7543 14.1355 19.2769C15.2881 18.7994 16.3354 18.0997 17.2175 17.2175C18.0997 16.3354 18.7994 15.2881 19.2769 14.1355C19.7543 12.9829 20 11.7476 20 10.5C20 9.25244 19.7543 8.0171 19.2769 6.86451C18.7994 5.71191 18.0997 4.66464 17.2175 3.78249C16.3354 2.90033 15.2881 2.20056 14.1355 1.72314C12.9829 1.24572 11.7476 1 10.5 1C7.98044 1 5.56408 2.00089 3.78249 3.78249C2.00089 5.56408 1 7.98044 1 10.5C1 13.0196 2.00089 15.4359 3.78249 17.2175C5.56408 18.9991 7.98044 20 10.5 20V20Z"
                      stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </div>
              <input type="text" [id]="'searchTextActive'" [(ngModel)]="searchTextActive" (input)="p=1"
                style="z-index: unset; height: 45px;" name="searchTextActive" placeholder="{{'Search'}}"
                autocomplete="off" class="form-control input-md pl-3" />
            </div>
            <div class="col text-right">
              <button *ngIf="isExportPdf" class="btn btn-primary text-right mb-2" (click)="createPdf()">{{'Export
                PDF'}}</button>
              <button class="btn btn-warning text-right mb-2" *ngIf="isExportXLSX" (click)="exportAsXLSX()">{{'Export
                Excel'}}</button>
            </div>
            <div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table  table-bordered table-striped">
              <!--align-items-center table-flush-->
              <thead class="thead-light">
                <tr>
                  <td scope="col" class="header-text">{{'SR. NO'}}</td>
                  <td scope="col" class="header-text">{{'MCC/BMC Code'}}</td>
                  <!--- <select [(ngModel)]="filters.mcc_code" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let mcc_code of uniqueValues('mcc_code')" [value]="mcc_code">{{ mcc_code }}</option>
          </select>-->
                  <td scope="col" class="header-text">{{"STATE"}}</td>
                  <td scope="col" class="header-text">{{"DISTRICT"}}</td>
                  <td scope="col" class="header-text">{{"BLOCK"}}</td>
                  <td scope="col" class="header-text">{{"VILLAGE"}}</td>
                  <td scope="col" class="header-text">{{"ENTRY DATE"}}</td>
                  <td scope="col" class="header-text">{{"MILK QUANTITY"}}</td>
                  <td scope="col" class="header-text">{{"FAT%"}}</td>
                  <td scope="col" class="header-text">{{"SNF%"}}</td>
                  <td scope="col" class="header-text">{{"MILK TYPE"}}</td>
                  <td scope="col" class="header-text">{{"SYNC STATUS "}}</td>
                  <td scope="col" class="header-text">{{"ENTRY METHOD "}}</td>


                </tr>
                <tr>
                  <th></th>
                  <th>

                    <ng-select placeholder="Filter By code" [(ngModel)]="filters.mcc_code" style="height: 100%;
                    width: 100%;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #121213;
                    background-color: #fff;
                    background-clip: padding-box;
                    box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By code'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesMccCode()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                    <!--<select [(ngModel)]="filters.mcc_code" (change)="applyFilters()">
            <option value="">All</option>
            <option *ngFor="let name of uniqueValuesMccCode()" [value]="name">{{ name }}</option>
          </select>-->
                  </th>
                  <th>

                    <ng-select placeholder="Filter By State" [(ngModel)]="filters.state" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By State'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesstate()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

                    <ng-select placeholder="Filter By District" [(ngModel)]="filters.district" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By District'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesdistrict()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

                    <ng-select placeholder="Filter By Block" [(ngModel)]="filters.block" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By Block'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesblock()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

                    <ng-select placeholder="Filter By Village" [(ngModel)]="filters.village" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By Village'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesvillage()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

                    <ng-select placeholder="Filter By Entry Date" [(ngModel)]="filters.collection_date" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By Entry Date'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuescollection_date()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

                    <ng-select placeholder="Filter By Milk Quantity" [(ngModel)]="filters.milk_qty" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By Milk Quantity'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesmilk_qty()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

                    <ng-select placeholder="Filter By Fat Percent" [(ngModel)]="filters.fat_per" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

                      <ng-option value="" disabled="true">{{'Filter By Fat Percent'}}</ng-option>
                      <ng-option *ngFor="let name of uniqueValuesfat_per()" [value]="name">{{name}}</ng-option>


                    </ng-select>

                  </th>
                  <th>

<ng-select placeholder="Filter By SNF Percent" [(ngModel)]="filters.snf_per" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

  <ng-option value="" disabled="true">{{'Filter By SNF Percent'}}</ng-option>
  <ng-option *ngFor="let name of uniqueValuessnf_per()" [value]="name">{{name}}</ng-option>


</ng-select>

</th>
<th>

<ng-select placeholder="Filter By Milk Type" [(ngModel)]="filters.milk_type" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

  <ng-option value="" disabled="true">{{'Filter By Milk Type'}}</ng-option>
  <ng-option *ngFor="let name of uniqueValuesmilk_type()" [value]="name">{{name}}</ng-option>


</ng-select>

</th>
<th>

<ng-select placeholder="Filter By Sync Status" [(ngModel)]="filters.sync_status" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

  <ng-option value="" disabled="true">{{'Filter By Sync Status'}}</ng-option>
  <ng-option *ngFor="let name of uniqueValuessync_status()" [value]="name">
    <img *ngIf="name"  src="assets/table-icons/tick.png" class="logo-image mr-2">
    <img *ngIf="!name"  src="assets/table-icons/cross.png" class="logo-image mr-2">
    </ng-option>


</ng-select>

</th>
<th>

<ng-select placeholder="Filter By Entry Method" [(ngModel)]="filters.entry_method" style="height: 100%;
width: 100%;
font-weight: 400;
line-height: 1.5;
color: #121213;
background-color: #fff;
background-clip: padding-box;
box-shadow: none;" (change)="applyFilters()">

  <ng-option value="" disabled="true">{{'Filter By Entry Method'}}</ng-option>
  <ng-option *ngFor="let name of uniqueValuesentry_method()" [value]="name">{{name}}</ng-option>


</ng-select>

</th>
                </tr>
              </thead>

              <tbody *ngIf="filteredData.length == 0 && isApiCalled">
                <tr *ngIf="filteredData.length == 0 && isApiCalled">
                  <td class="nofounddata text-center" colspan="6">{{'No Data Found'}}</td>
                </tr>
              </tbody>

              <!--<ngx-spinner bdColor="rgba(51, 51, 51, 0.5)" size="default" type="ball-beat" [fullScreen]="false"
                [name]="'dataSpinner2'">
              </ngx-spinner>-->
              <tbody>
                <tr
                  *ngFor="let data of filteredData | tableSearch:searchTextActive | sort:orderByActive | paginate: { id: 'pagination2',itemsPerPage: 10, currentPage: p }; index as i"
                  [ngStyle]="{'background-color': (i%2 ==0 ) ? 'white' : '#eee9e9' }">
                  <td>
                    {{(p-1) * 10 + i + 1}}
                  </td>
                  <td>
                    {{data.mcc_code}}
                  </td>
                  <td>
                    {{data.state}}
                  </td>
                  <td>
                    {{data.district}}
                  </td>
                  <td>
                    {{data.block}}
                  </td>
                  <td>
                    {{data.village}}
                  </td>
                  <td>
                    {{data.collection_date}}
                  </td>
                  <td>
                    {{data.milk_qty}}
                  </td>
                  <td>
                    {{data.fat_per}}
                  </td>
                  <td>
                    {{data.snf_per}}
                    <!--<a id="modalBoot" data-toggle="modal" data-target="#exampleModal"
                      class="btn btn-sm btn-primary view-button "
                      (click)="ButtonClicked()">-->
                    <!--<img src="assets/images/femri/download.png" class="logo-image mr-2">-->
                    <!-- {{'Read More'}}
                    </a>-->

                  </td>
                  <td>
                    {{data.milk_type}}
                  </td>
                  <td>

                    <img *ngIf="data.sync_status"  src="assets/table-icons/tick.png" class="logo-image mr-2">
                    <img *ngIf="!data.sync_status"  src="assets/table-icons/cross.png" class="logo-image mr-2">
                  </td>
                  <td>
                    {{data.entry_method}}
                  </td>
                  <!--<td>

                    <a *ngIf="report.demoRequestStatus!='REJECTED' && report.demoStatusByFpo!='COMPLETED' && userRole=='ROLE_FPC' && report.demoDatePassed"
                      class="btn btn-sm btn-primary view-button " (click)="markStatusComplete(report.id)">-->
                  <!--<img src="assets/images/femri/download.png" class="logo-image mr-2">-->
                  <!--{{'Mark as complete'}}
                    </a>

                    <span *ngIf="report.demoStatusByFpo=='COMPLETED'">{{report.demoStatusByFpo}}</span>
                  </td>-->
                  <!-- <td>

                    <a *ngIf="report.demoRequestStatus!='REJECTED' && report.demoStatusByStartup!='COMPLETED' && userRole=='ROLE_STARTUP' && report.demoDatePassed"
                      class="btn btn-sm btn-primary view-button " (click)="markStatusComplete(report.id)">-->
                  <!--<img src="assets/images/femri/download.png" class="logo-image mr-2">-->
                  <!--  {{'Mark as complete'}}
                    </a>
                    <span *ngIf="report.demoStatusByStartup=='COMPLETED'">{{report.demoStatusByStartup}}</span>
                  </td>-->

                  <!--<td class="text-center wrap-text" *ngIf="userRole=='ROLE_STARTUP'">
                    <div ngbDropdown placement="bottom-right">
                      <a *ngIf="userRole=='ROLE_STARTUP' && report.demoStatusByFpo=='COMPLETED' && report.demoStatusByStartup=='COMPLETED'
                      && report.fieldTrailReport!=null && report.fieldTrailReport!=''"
                        class="btn btn-sm btn-primary view-button wrap-text" [href]="report.fieldTrailReport"
                        target="_blank">

                        {{'View Document'}}
                      </a>
                      <span *ngIf="userRole=='ROLE_STARTUP' && report.demoStatusByFpo=='COMPLETED' && report.demoStatusByStartup=='COMPLETED'
                      && (report.fieldTrailReport==null || report.fieldTrailReport=='')">
                        {{'No document uploaded'}}
                      </span>

                    </div>
                  </td>



                  <td class="text-center wrap-text">
                    <div ngbDropdown placement="bottom-right">
                      <a *ngIf="userRole=='ROLE_STARTUP' && report.demoStatusByFpo=='COMPLETED' && report.demoStatusByStartup=='COMPLETED'"
                        class="btn btn-sm btn-primary view-button wrap-text"
                        (click)="openremarkpopup('reject',report.id)">

                        <span *ngIf="report.fieldTrailReport==null || report.fieldTrailReport==''"> {{'Upload trial
                          field Document'}}</span>
                        <span *ngIf="report.fieldTrailReport!=null || report.fieldTrailReport!=''"> {{'Edit trial field
                          Document'}}</span>
                      </a>
                      <ng-container *ngIf="userRole=='ROLE_FPC'">
                        <a *ngIf="report.isFeedbackSubmitted==false && report.demoStatusByFpo=='COMPLETED' && report.demoStatusByStartup =='COMPLETED'"
                          class="btn btn-sm btn-primary view-button"
                          [routerLink]="['/demo-feedback-form', report.id, report.startupId, report.startupTechnologyId]">
                          {{ 'Provide FeedBack'}}
                        </a>
                        <span *ngIf="report.isFeedbackSubmitted==true || report.demoStatusByFpo!='COMPLETED' || report.demoStatusByStartup !='COMPLETED'"></span>
                      </ng-container>
                    </div>
                  </td>
                  <td>
                    <a *ngIf="userRole=='ROLE_FPC' && report.demoStatusByFpo=='COMPLETED' && report.demoStatusByStartup=='COMPLETED' && report.isFeedbackSubmitted==true"
                        class="btn btn-sm btn-primary view-button " (click)="DemoFeedbackScoreCard()">
                        {{'Download'}}
                      </a>
                    </td>-->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls id="pagination2" (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
