.logo-image {
  width: 100%;
  max-width: 20px;
  max-height: 20px;
}

/*tr,
th,
td {
  border: 2px solid lightgray;
  color: black;
}

th {
  color: black;
  font-weight: 800;
  text-align: center;
  font-size: 14px;
}
td {
  font-weight: 600;
  text-align: center;
}*/
.view-button {
  background-color: lightslategray;
}

td.header-text {
  color: black;
  font-weight: 700;
  background-color: aliceblue;
  text-align: center;
}
.card-header {
  background-color: rgba(0, 0, 0, 0.03);
}

.search {
  width: 25%;
}
.wrap-text {
  /*max-width: 200px;  Adjust the max-width as needed */
  word-wrap: break-word;
  white-space: pre-line;
}
.input-group {
  height: 45px;
}
.input-group-text {
  background-color: #e9ecef;
}

.card-header{
  background-color: rgba(0,0,0,.03);
}
.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.card{
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/*.input-group{
  height: 45px;
}
.input-group-text{
  background-color: #e9ecef;
}
.search{
  width: 25%;
}*/
.table th{
  color: #000;
  font-size: 13px;
  text-align: center;
}
.table td{
  color:#000;
  text-align: center;
}
.mt--7
{
  margin-top: -11rem !important;
}
