<div class="login-container">
  <!-- Background Section -->
  <div class="background-section login-background"></div>
  <div class="background-overlay"></div>

  <!-- Form Section -->
  <div class="form-section">
    <div class="government-logo">
      <img
        src="assets/login/emblem.png"
        alt="Government Emblem"
        class="logo-image"
      />
      <div class="logo-text">भारत सरकार | GOVERNMENT OF INDIA</div>
      <div class="logo-subtext">
        पशुपालन और डेयरी विभाग<br />
        DEPARTMENT OF ANIMAL HUSBANDRY AND DAIRYING
      </div>
    </div>

    <div class="form-container form-content">
      <h2 class="form-title">{{"Forget Password"|translate}}</h2>

      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
        <!-- Email -->
        <div class="form-group">
          <label for="email">{{'Email'|translate}}</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            [class.error]="
              forgetPasswordForm.get('email')?.invalid &&
              forgetPasswordForm.get('email')?.touched
            "
          />
          <div
            class="error-message"
            *ngIf="
              forgetPasswordForm.get('email')?.invalid &&
              forgetPasswordForm.get('email')?.touched
            "
          >
            <span *ngIf="forgetPasswordForm.get('email')?.errors?.['required']">
              {{'Email is required'|translate}}
            </span>
            <span *ngIf="forgetPasswordForm.get('email')?.errors?.['email']">
              {{'Enter a valid email'|translate}}
            </span>
          </div>
          <button
            type="button"
            (click)="sendOTP()"
            class="sign-up-btn mt-4"
            [disabled]="isLoading"
          >
            <ng-container *ngIf="!isLoading; else loading">
              {{'Send OTP'|translate}}
            </ng-container>
            <ng-template #loading>
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
                aria-hidden="true"
              ></span>
              {{'Sending...'|translate}}
            </ng-template>
          </button>
        </div>
        <!--OTP-->
        <div class="form-group">
          <label for="otp">{{'OTP'|translate}}</label>
          <input
            type="text"
            id="otp"
            formControlName="otp"
            placeholder="Enter the OTP"
            [class.error]="
              forgetPasswordForm.get('otp')?.invalid &&
              forgetPasswordForm.get('otp')?.touched
            "
          />
          <div
            class="error-message"
            *ngIf="
              forgetPasswordForm.get('otp')?.invalid &&
              forgetPasswordForm.get('otp')?.touched
            "
          >
            <span *ngIf="forgetPasswordForm.get('otp')?.errors?.['required']">
              {{'OTP is required'|translate}}
            </span>
          </div>
        </div>

        <!-- New Password -->
        <div class="form-group">
          <label>{{'New Password'|translate}}</label>
          <div style="position: relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newPassword"
              placeholder="Password"
              [class.error]="
                forgetPasswordForm.get('newPassword')?.invalid &&
                forgetPasswordForm.get('newPassword')?.touched
              "
            />
            <button
              type="button"
              class="password-toggle"
              (click)="togglePassword()"
            >
              <div class="eye-icon">
                <!-- eye open -->
                <svg
                  *ngIf="!showPassword"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  ></path>
                </svg>

                <!-- eye closed -->
                <svg
                  *ngIf="showPassword"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21"
                  ></path>
                </svg>
              </div>
            </button>
          </div>
          <div
            class="error-message"
            *ngIf="
              forgetPasswordForm.get('newPassword')?.invalid &&
              forgetPasswordForm.get('newPassword')?.touched
            "
          >
            <span
              *ngIf="forgetPasswordForm.get('newPassword')?.errors?.['required']"
              >{{'Password is required'|translate}}</span
            >
            <span
              *ngIf="forgetPasswordForm.get('newPassword')?.errors?.['minlength']"
              >{{'Password must be at least 6 characters'|translate}}</span
            >
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="sign-up-btn mt-4" [disabled]="isLoading">
          <span *ngIf="!isLoading">{{'Reset Password'|translate}}</span>
          <span *ngIf="isLoading">
            <i class="fa fa-spinner fa-spin"></i> {{'Please wait...'|translate}}
          </span>
        </button>
      </form>
    </div>
  </div>
</div>
