<div class="nddb-certificate" role="document">
  <div class="id-card" #idCardContent>
    <div class="id-card-inner">
      <div class="id-header">
        <div class="id-header-logo" *ngIf="logo2Url || data?.logoPath2">
          <img
            [src]="logo2Url || data?.logoPath2"
            alt=""
            crossorigin="anonymous"
          />
        </div>
        <div class="id-header-text">
          <div class="id-header-institute">
            {{ data?.trainingInstituteName || data?.organizationName }}
          </div>
        </div>
      </div>

      <div class="id-program-strip">
        {{ data?.trainingTitle }}
      </div>

      <div class="id-body">
        <div class="id-body-main">
          <div class="id-photo-wrapper" *ngIf="traineePhotoUrl">
            <img [src]="traineePhotoUrl" crossorigin="anonymous" />
          </div>
          <div class="id-trainee-block">
            <div class="id-trainee-name">
              {{ data?.name }}
            </div>
            <!-- <div class="id-trainee-role">
              Trainee
            </div> -->
            <div class="id-detail-row">
              <span class="id-detail-label">UIN:</span>
              <span class="id-detail-value">{{ finalUniqueId }}</span>
            </div>
            <div class="id-detail-row" *ngIf="data?.trainingRefCode">
              <span class="id-detail-label">Ref ID:</span>
              <span class="id-detail-value">{{ data.trainingRefCode }}</span>
            </div>
            <div class="id-detail-row">
              <span class="id-detail-label">Duration:</span>
              <span class="id-detail-value">
                <ng-container *ngIf="totalDurationDays !== null; else fallbackDur">
                  {{ totalDurationDays }} Days
                </ng-container>
                <ng-template #fallbackDur>
                  {{ data?.duration }} Days
                </ng-template>
              </span>
            </div>
            <div class="id-detail-row">
              <span class="id-detail-label">Venue:</span>
              <span class="id-detail-value">
                {{
                  data?.venueAddress
                    || data?.location
                    || data?.venueBlock
                    || data?.venueState
                }}
              </span>
            </div>
          </div>
        </div>

        <div class="id-qr-section">
          <div class="id-qr-box">
            <qrcode [qrdata]="qrData" [width]="100" [errorCorrectionLevel]="'M'">
            </qrcode>
          </div>
          <div class="id-qr-hint">
            Scan to verify identity
          </div>
        </div>

        <div class="id-signature-section" *ngIf="data?.signatures?.length > 0">
          <div class="id-signature-line">
            <img
              [src]="signatureUrls[0] || data.signatures[0].signatorySignaturePath"
              crossorigin="anonymous"
            />
            <div class="id-signatory-name">
              {{ data.signatures[0].signatoryName }}
            </div>
            <div class="id-signatory-role">
              Institute Head
            </div>
          </div>
        </div>
      </div>

      <div class="id-footer-strip"></div>
    </div>
  </div>
</div>
