<div class="other-organization-master">
  <div class="d-flex justify-content-end mb-3">
    <button
      type="button"
      class="btn"
      [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
      (click)="toggleForm()"
    >
      {{ (showForm ? 'OTHER_ORG.HIDE_FORM' : 'OTHER_ORG.ADD_NEW_ORGANIZATION') | translate }}
    </button>
  </div>

  <div *ngIf="showForm" class="organization-form-wrapper" id="organizationFormSection">
    <app-organization-admin-profile
      [editData]="selectedOrganization"
      (formSubmissionSuccess)="onFormSubmissionSuccess()"
      (formCanceled)="onFormCancel()"
    ></app-organization-admin-profile>
  </div>

  <app-organization-table-data (editRequested)="onEditFromTable($event)"></app-organization-table-data>
</div>
