<div class="bulk-upload-container">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

  <div class="training-card">
    <h3 class="card-title">{{'Training Details'|translate}}</h3>

    <div class="details-grid">
      <div class="detail-item">
        <span class="label">{{'Training Title'|translate}}:</span>
        <span class="value">{{ trainingDetails?.trainingTitle || "-" }}</span>
      </div>
      <div class="detail-item">
        <span class="label">{{'Scheme'|translate}}:</span>
        <span class="value">{{ trainingDetails?.scheme || "-" }}</span>
      </div>

      <div class="detail-item">
        <span class="label">{{'Trainer Name'|translate}}:</span>
        <span class="value">{{ trainingDetails?.trainerName || "-" }}</span>
      </div>
      <div class="detail-item">
        <span class="label">{{'Training Institute Name'|translate}}:</span>
        <span class="value">{{
          trainingDetails?.trainingInstituteName || "-"
        }}</span>
      </div>

      <div class="detail-item">
        <span class="label">{{'Venue State'|translate}}:</span>
        <span class="value">{{ trainingDetails?.venueState || "-" }}</span>
      </div>
      <div class="detail-item">
        <span class="label">{{'Venue District'|translate}}:</span>
        <span class="value">{{ trainingDetails?.venueDistrict || "-" }}</span>
      </div>

      <div class="detail-item">
        <span class="label">{{'Venue Block'|translate}}:</span>
        <span class="value">{{ trainingDetails?.venueBlock || "-" }}</span>
      </div>
      <div class="detail-item">
        <span class="label">{{'Training Date'|translate}}:</span>
        <span class="value">{{ trainingDetails?.trainingDate }}</span>
      </div>

      <div class="detail-item">
        <span class="label">{{'Duration'|translate}}:</span>
        <span class="value">{{ trainingDetails?.duration || "-" }}</span>
      </div>
      <div class="detail-item">
        <span class="label">{{'Duration Type'|translate}}:</span>
        <span class="value">{{ trainingDetails?.durationType || "-" }}</span>
      </div>

      <div class="detail-item">
        <span class="label">{{'Mode of Training'|translate}}:</span>
        <span class="value">{{ trainingDetails?.modeOfTraining || "-" }}</span>
      </div>
      <div class="detail-item">
        <span class="label">{{'Type of Training'|translate}}:</span>
        <span class="value">{{ trainingDetails?.trainingType || "-" }}</span>
      </div>
    </div>

    <div class="detail-item full-width">
      <span class="label">{{'About Training'|translate}}:</span>
      <p class="value about">
        {{ trainingDetails?.trainingDescription || "-" }}
      </p>
    </div>
  </div>

  <h1 class="page-title">{{'Bulk Upload'|translate}}</h1>

  <div class="template-section">
    <h2>{{'Template'|translate}}</h2>
    <div class="template-card">
      <i class="bi bi-file-earmark-spreadsheet"></i>
      <div class="template-info">
        <h3>{{"Download Excel Template"|translate}}</h3>
        <p>{{"Includes Mandatory fields and Validation Rules"|translate}}</p>
        <button
          type="button"
          class="btn btn-success mt-2"
          (click)="downloadExcelTemplate()"
        >
          {{'Download'|translate}}
        </button>
      </div>
    </div>
  </div>

  <!-- ✅ Data Preview Table -->
  <div *ngIf="excelData.length > 0" class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="mb-0">Data Preview</h2>
      <button class="btn btn-reupload" (click)="reUploadFile()">
        {{'Re-Upload File'|translate}}
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-sm align-middle">
        <thead class="table-light">
          <tr>
            <th *ngFor="let col of headers">
              {{ col }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of paginatedData; let i = index">
            <td *ngFor="let col of headers">
              {{ row[col] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination Controls -->
    <nav class="d-flex justify-content-between align-items-center mt-2 mb-4">
      <button
        class="btn btn-sm btn-secondary"
        (click)="goToPage(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        {{'Previous'|translate}}
      </button>
      <span>{{'Page'|translate}} {{ currentPage }} of {{ totalPages }}</span>
      <button
        class="btn btn-sm btn-secondary"
        (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
      >
        {{'Next'|translate}}
      </button>
    </nav>
  </div>
  <button
    class="btn btn-primary mb-4"
    (click)="submitData()"
    *ngIf="excelData.length != 0 && errorCount == 0"
  >
    {{'Submit Data'|translate}}
  </button>
  <div class="upload-section">
    <h2>{{'Upload Your File'|translate}}</h2>
    <app-file-upload
      *ngIf="showFileUpload"
      [acceptedFileTypes]="'.xlsx, .xls, .csv'"
      [maxFileSizeMB]="5"
      [uploadText]="'Drag & drop your Excel file here'"
      [subText]="'or'"
      [buttonText]="'browse to upload'"
      [showFileInfo]="false"
      (fileSelected)="onFileSelected($event)"
    >
    </app-file-upload>
  </div>

  <!-- Progress -->
  <div *ngIf="showValidationReport" class="progress-section">
    <div class="progress-bar-container">
      <div class="progress-bar" [style.width.%]="uploadProgress"></div>
    </div>
    <div class="progress-info">
      <span>{{'Uploading......'|translate}} {{ uploadProgress }}%</span>
      <span class="error-info">
        {{ errorCount }} {{'errors found in'|translate}} {{ errorRowCount }} rows
      </span>
    </div>
  </div>

  <!-- Validation Report -->
  <div *ngIf="showValidationReport" class="report-section">
    <div
      class="report-header d-flex justify-content-between align-items-center"
    >
      <h2 class="mb-0">{{'Validation Report with Error'|translate}}</h2>
      <button class="btn btn-reupload" (click)="reUploadFile()">
        {{'Re-Upload File'|translate}}
      </button>
    </div>

    <div class="table-responsive mt-3">
      <table class="table table-bordered table-striped table-sm align-middle">
        <thead class="table-light">
          <tr>
            <th style="width: 70px">#</th>
            <th style="width: 100px">Row</th>
            <th style="width: 200px">Column</th>
            <th>{{'Error Message'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let group of groupValidationErrorsByRow(); let i = index"
          >
            <ng-container *ngFor="let err of group.errors; let j = index">
              <tr>
                <td
                  *ngIf="j === 0"
                  [attr.rowspan]="group.errors.length"
                  class="fw-bold text-primary text-center"
                >
                  {{ i + 1 }}
                </td>
                <td
                  *ngIf="j === 0"
                  [attr.rowspan]="group.errors.length"
                  class="text-center"
                >
                  {{ group.row }}
                </td>
                <td>{{ err.column }}</td>
                <td>{{ err.errorMessage }}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
